#%RAML 1.0
title: ZeroTier Central API
version: 1.0
baseUri: https://my.zerotier.com/
baseUriParameters: {}
documentation:
- title: ZeroTier Central API
  content: 'TODO: Add a description'
types:
  ControllerNetworkConfig:
    displayName: ControllerNetworkConfig
    type: object
    properties:
      id:
        required: false
        displayName: id
        description: 16-digit ZeroTier network ID [ro]
        type: string
      nwid:
        required: false
        displayName: nwid
        description: 16-digit ZeroTier network ID (for backward compatibility) [ro]
        type: string
      name:
        required: false
        displayName: name
        description: Short name of network [rw]
        type: string
      objtype:
        required: false
        displayName: objtype
        description: Object type on controller ("network") [ro]
        type: string
      private:
        required: false
        displayName: private
        description: If true, certificate access control is enabled [rw]
        type: boolean
      creationTime:
        required: false
        displayName: creationTime
        description: Time network was created on controller [ro]
        type: number
        format: double
      revision:
        required: false
        displayName: revision
        description: Network revision number [ro]
        type: number
        format: double
      lastModified:
        required: false
        displayName: lastModified
        description: Time config was last modified [ro]
        type: number
        format: double
      multicastLimit:
        required: false
        displayName: multicastLimit
        description: Max recipients per multicast or broadcast [rw]
        type: number
        format: double
      routes:
        required: false
        displayName: routes
        description: Array of IP routes published to members [rw]
        type: array
        items:
          type: object
      rules:
        required: false
        displayName: rules
        description: Network base rules table [rw]
        type: array
        items:
          type: object
      tags:
        required: false
        displayName: tags
        description: Array of tags available on this network [rw]
        type: array
        items:
          type: object
      capabilities:
        required: false
        displayName: capabilities
        description: Array of capabilities available on this network [rw]
        type: array
        items:
          type: object
      totalMemberCount:
        required: false
        displayName: totalMemberCount
        description: Total number of members [ro]
        type: number
        format: double
      activeMemberCount:
        required: false
        displayName: activeMemberCount
        description: Number of active/online members [ro]
        type: number
        format: double
      authTokens:
        required: false
        displayName: authTokens
        description: Array of authentication tokens for auto-authorizing new members [rw]
        type: array
        items:
          type: string
      authorizedMemberCount:
        required: false
        displayName: authorizedMemberCount
        description: Number of authorized members [ro]
        type: number
        format: double
      v4AssignMode:
        required: false
        displayName: v4AssignMode
        description: Boolean toggles for IPv4 assignment modes [rw]
        type: object
      v6AssignMode:
        required: false
        displayName: v6AssignMode
        description: Boolean toggles for IPv6 assignment modes [rw]
        type: object
  ControllerMemberConfig:
    displayName: ControllerMemberConfig
    type: object
    properties:
      id:
        required: false
        displayName: id
        description: 10-digit ZeroTier node ID [ro]
        type: string
      address:
        required: false
        displayName: address
        description: 10-digit ZeroTier node ID [ro]
        type: string
      nwid:
        required: false
        displayName: nwid
        description: 16-digit network ID [ro]
        type: string
      objtype:
        required: false
        displayName: objtype
        description: Object type on controller ("member") [ro]
        type: string
      authorized:
        required: false
        displayName: authorized
        description: True if authorized (only matters on private networks) [rw]
        type: boolean
      authHistory:
        required: false
        displayName: authHistory
        description: History of most recent authentications [ro]
        type: array
        items:
          type: object
      capabilities:
        required: false
        displayName: capabilities
        description: Array of IDs of capabilities assigned to this member [rw]
        type: array
        items:
          type: number
          format: double
      tags:
        required: false
        displayName: tags
        description: Array of tuples of tag ID, tag value [rw]
        type: array
        items:
          type: number
          format: double
      creationTime:
        required: false
        displayName: creationTime
        description: Time member record was first created [ro]
        type: number
        format: double
      identity:
        required: false
        displayName: identity
        description: ZeroTier public identity of member (address and public key) [ro]
        type: string
      ipAssignments:
        required: false
        displayName: ipAssignments
        description: Array of IP assignments published to member [rw]
        type: array
        items:
          type: string
      lastAuthorizedTime:
        required: false
        displayName: lastAuthorizedTime
        description: Time member was last authorized on network [ro]
        type: number
        format: double
      lastDeauthorizedTime:
        required: false
        displayName: lastDeauthorizedTime
        description: Time member was last de-authorized on network [ro]
        type: number
        format: double
      noAutoAssignIps:
        required: false
        displayName: noAutoAssignIps
        description: If true do not auto-assign IPv4 or IPv6 addresses, overriding network settings [rw]
        type: boolean
      physicalAddr:
        required: false
        displayName: physicalAddr
        description: Last known physical address of member [ro]
        type: string
      revision:
        required: false
        displayName: revision
        description: Member record revision counter [ro]
        type: number
        format: double
  Status:
    example:
      value:
        online: False
        clock: 0
        version: ''
        apiVersion: 0
        uptime: 0
        user: {}
        stripePublishableKey: ''
        paidPlans: {}
        smsEnabled: False
        clusterNode: ''
        loginMethods: {}
        recaptchaSiteKey: ''
        return_to: ''
    displayName: status
    type: object
    properties:
      online:
        required: false
        displayName: online
        description: Always true
        type: boolean
      clock:
        required: false
        displayName: clock
        description: Current server-side system clock (ms since epoch)
        type: number
        format: double
      version:
        required: false
        displayName: version
        description: ZeroTier Central version
        type: string
      apiVersion:
        required: false
        displayName: apiVersion
        description: ZeroTier Central API version
        type: number
        format: double
      uptime:
        required: false
        displayName: uptime
        description: This host's uptime in milliseconds
        type: number
        format: double
      user:
        required: false
        displayName: user
        description: Current user if authenticated, otherwise null
        type: object
      stripePublishableKey:
        required: false
        displayName: stripePublishableKey
        description: Publishable key for Stripe payment processor or null if not configured
        type: string
      paidPlans:
        required: false
        displayName: paidPlans
        description: Available paid plans (if configured)
        type: object
      smsEnabled:
        required: false
        displayName: smsEnabled
        description: True if SMS messaging is available
        type: boolean
      clusterNode:
        required: false
        displayName: clusterNode
        description: Name of current cluster node servicing this request
        type: string
      loginMethods:
        required: false
        displayName: loginMethods
        description: Object containing login methods and whether they are available
        type: object
      recaptchaSiteKey:
        required: false
        displayName: recaptchaSiteKey
        description: Recaptcha site key or null if not configured
        type: string
      return_to:
        required: false
        displayName: return_to
        description: Bounce destination if using Central as third party auth source (used for ZeroTier support login)
        type: string
  RandomToken:
    example:
      value:
        token: ''
        clock: 0
        raw: ''
    displayName: randomToken
    type: object
    properties:
      token:
        required: false
        displayName: token
        description: Random string suitable for use as an API authentication token
        type: string
      clock:
        required: false
        displayName: clock
        description: Current server-side system clock (ms since epoch)
        type: number
        format: double
      raw:
        required: false
        displayName: raw
        description: Raw random bytes in hex format
        type: string
  User:
    example:
      value:
        id: ''
        type: ''
        clock: 0
        globalPermissions:
          r: False
          m: False
          d boolean): ''
          a: False
        ui: {}
        displayName: ''
        email: ''
        auth: {}
        smsNumber: ''
        tokens: []
        permissions:
          '{id}':
            t: ''
            r: False
            m: False
            d: False
            a: False
        subscriptions: {}
    displayName: User
    type: object
    properties:
      id:
        required: false
        displayName: id
        description: User ID (GUID) [ro]
        type: string
      type:
        required: false
        displayName: type
        description: Object type [ro]
        type: string
      clock:
        required: false
        displayName: clock
        description: Current system clock on server [ro]
        type: number
        format: double
      globalPermissions:
        required: false
        displayName: globalPermissions
        description: Global permissions for this user against all objects on system (for admins) [ro]
        type: GlobalPermissions
      ui:
        required: false
        displayName: ui
        description: Arbitrary data that is stored and used by the UI [rw]
        type: object
      displayName:
        required: false
        displayName: displayName
        description: User display name [rw]
        type: string
      email:
        required: false
        displayName: email
        description: User e-mail [ro]
        type: string
      auth:
        required: false
        displayName: auth
        description: Object containing one or more authentication types and login names or IDs [ro]
        type: object
      smsNumber:
        required: false
        displayName: smsNumber
        description: SMS telephone number for sending SMS notifications [rw]
        type: string
      tokens:
        required: false
        displayName: tokens
        description: Array of API authentication tokens [rw]
        type: array
        items:
          type: string
      permissions:
        required: false
        displayName: permissions
        description: Actors with permissions that apply to this object [ro]
        type: Permissions
      subscriptions:
        required: false
        displayName: subscriptions
        description: Subscriptions by plan ID [ro]
        type: object
  GlobalPermissions:
    displayName: globalPermissions
    type: object
    properties:
      r:
        required: false
        displayName: r
        description: Read
        type: boolean
      m:
        required: false
        displayName: m
        description: Modify
        type: boolean
      d boolean):
        required: false
        displayName: d boolean)
        description: Delete
        type: string
      a:
        required: false
        displayName: a
        description: Authorize
        type: boolean
  Permissions:
    displayName: permissions
    type: object
    properties:
      '{id}':
        required: false
        displayName: '{id}'
        description: Permissions possessed by actor object, by object ID [ro]
        type: '{id}'
  '{id}':
    displayName: '{id}'
    type: object
    properties:
      t:
        required: false
        displayName: t
        description: Type of actor object (currently User or Group)
        type: string
      r:
        required: false
        displayName: r
        description: Read
        type: boolean
      m:
        required: false
        displayName: m
        description: Modify
        type: boolean
      d:
        required: false
        displayName: d
        description: Delete
        type: boolean
      a:
        required: false
        displayName: a
        description: Authorize
        type: boolean
  Network:
    example:
      value:
        id: ''
        type: ''
        clock: 0
        ui: {}
        rulesSource: ''
        description: ''
        permissions:
          '{id}':
            t: ''
            r: False
            m: False
            d: False
            a: False
        onlineMemberCount: 0
        capabilitiesByName: {}
        tagsByName: {}
        circuitTestEvery: 0
        config:
          id: ''
          nwid: ''
          name: ''
          objtype: ''
          private: False
          creationTime: 0
          revision: 0
          lastModified: 0
          multicastLimit: 0
          routes: []
          rules: []
          tags: []
          capabilities: []
          totalMemberCount: 0
          activeMemberCount: 0
          authTokens: []
          authorizedMemberCount: 0
          v4AssignMode: {}
          v6AssignMode: {}
    displayName: Network
    type: object
    properties:
      id:
        required: false
        displayName: id
        description: 16-digit ZeroTier network ID [ro]
        type: string
      type:
        required: false
        displayName: type
        description: Object type ("Network") [ro]
        type: string
      clock:
        required: false
        displayName: clock
        description: Current system clock on server [ro]
        type: number
        format: double
      ui:
        required: false
        displayName: ui
        description: Arbitrary data that is stored and used by the UI [rw]
        type: object
      rulesSource:
        required: false
        displayName: rulesSource
        description: Source code of network rule set [rw]
        type: string
      description:
        required: false
        displayName: description
        description: Long description of this network [rw]
        type: string
      permissions:
        required: false
        displayName: permissions
        description: Actors with permissions that apply to this object [ro]
        type: Permissions
      onlineMemberCount:
        required: false
        displayName: onlineMemberCount
        description: Number of members online [ro]
        type: number
        format: double
      capabilitiesByName:
        required: false
        displayName: capabilitiesByName
        description: Capabilities defined in rule set by name [rw]
        type: object
      tagsByName:
        required: false
        displayName: tagsByName
        description: Tags defined in rule set by name [rw]
        type: object
      circuitTestEvery:
        required: false
        displayName: circuitTestEvery
        description: Circuit test this network every N milliseconds [ro]
        type: number
        format: double
      config:
        required: false
        displayName: config
        type: ControllerNetworkConfig
  Member:
    displayName: Member
    type: object
    properties:
      id:
        required: false
        displayName: id
        description: Member record ID, which is formed from the network and node IDs [ro]
        type: string
      type:
        required: false
        displayName: type
        description: Object type ("Member") [ro]
        type: string
      clock:
        required: false
        displayName: clock
        description: System clock on server [ro]
        type: number
        format: double
      networkId:
        required: false
        displayName: networkId
        description: 16-digit ZeroTier network ID [ro]
        type: string
      nodeId:
        required: false
        displayName: nodeId
        description: 10-digit ZeroTier node ID / device address [ro]
        type: string
      controllerId:
        required: false
        displayName: controllerId
        description: 10-digit ZeroTier node ID of controller (same as first 10 digits of network ID) [ro]
        type: string
      hidden:
        required: false
        displayName: hidden
        description: Hidden in UI? [rw]
        type: boolean
      name:
        required: false
        displayName: name
        description: Short name describing member [rw]
        type: string
      description:
        required: false
        displayName: description
        description: Long form description [rw]
        type: string
      online:
        required: false
        displayName: online
        description: Member is online? (has requested an update recently) [ro]
        type: boolean
      lastOnline:
        required: false
        displayName: lastOnline
        description: Time member was last determined to be online [ro]
        type: number
        format: double
      lastOffline:
        required: false
        displayName: lastOffline
        description: Time member was last determined to be offline [ro]
        type: number
        format: double
      physicalAddress:
        required: false
        displayName: physicalAddress
        description: Latest physical address of member [ro]
        type: string
      physicalLocation:
        required: false
        displayName: physicalLocation
        description: Lat/lon of estimated (GeoIP-determined) location of physicalAddress (if available) [ro]
        type: object
      clientVersion:
        required: false
        displayName: clientVersion
        description: Most recent client software version [ro]
        type: string
      protocolVersion:
        required: false
        displayName: protocolVersion
        description: Most recent client-reported ZeroTier protocol version [ro]
        type: number
        format: double
      supportsCircuitTesting:
        required: false
        displayName: supportsCircuitTesting
        description: True if member supports circuit testing [ro]
        type: boolean
      supportsRulesEngine:
        required: false
        displayName: supportsRulesEngine
        description: True if member supports the new (post-1.2) rules engine [ro]
        type: boolean
      offlineNotifyDelay:
        required: false
        displayName: offlineNotifyDelay
        description: Notify of offline after this many milliseconds [rw]
        type: number
        format: double
      config:
        required: false
        displayName: config
        type: ControllerMemberConfig
/api:
  /status:
    get:
      displayName: Get Status and Configuration Information
      description: Obtain information about this server and/or useful to the Central web UI.
      responses:
        200:
          description: Success
          body:
            application/json:
              example:
                value:
                  online: False
                  clock: 0
                  version: ''
                  apiVersion: 0
                  uptime: 0
                  user: {}
                  stripePublishableKey: ''
                  paidPlans: {}
                  smsEnabled: False
                  clusterNode: ''
                  loginMethods: {}
                  recaptchaSiteKey: ''
                  return_to: ''
              displayName: response
              type: Status
  /self:
    get:
      displayName: Get Currently Authenticated User
      description: Get the currently authenticated user's user record.
      responses:
        200:
          description: Success
          body:
            text/plain:
              example:
                value:
                  id: ''
                  type: ''
                  clock: 0
                  globalPermissions:
                    r: False
                    m: False
                    d boolean): ''
                    a: False
                  ui: {}
                  displayName: ''
                  email: ''
                  auth: {}
                  smsNumber: ''
                  tokens: []
                  permissions:
                    '{id}':
                      t: ''
                      r: False
                      m: False
                      d: False
                      a: False
                  subscriptions: {}
              displayName: response
              type: string
  /randomToken:
    get:
      displayName: Generate a Random Token
      description: This generates a random token suitable for use as an API token server-side using a secure random source. It does not actually modify the user record, just returns the token for use by API callers or the UI.
      responses:
        200:
          description: Success
          body:
            application/json:
              example:
                value:
                  token: ''
                  clock: 0
                  raw: ''
              displayName: response
              type: RandomToken
  /auth/_logout:
    post:
      displayName: Terminate Current Session
      description: Hitting this endpoint causes the user to be logged out. It has no effect when using token authentication, so it's mostly used by the UI.
  /user:
    get:
      displayName: Get All Viewable Users
      description: Get all users for which you have at least read access.
      responses:
        200:
          description: Success
          body:
            application/json:
              example:
                value:
                - id: ''
                  type: ''
                  clock: 0
                  globalPermissions:
                    r: False
                    m: False
                    d boolean): ''
                    a: False
                  ui: {}
                  displayName: ''
                  email: ''
                  auth: {}
                  smsNumber: ''
                  tokens: []
                  permissions:
                    '{id}':
                      t: ''
                      r: False
                      m: False
                      d: False
                      a: False
                  subscriptions: {}
              displayName: response
              type: array
              items:
                type: User
    /{userId}:
      uriParameters:
        userId:
          required: true
          example:
            value: 00000000
          displayName: userId
          description: 0000-0000-0000-000000000000 (required,string) - Internal user ID (GUID)
          type: string
      get:
        displayName: Retrieve a User
        description: ''
        responses:
          200:
            description: Success
            body:
              application/json:
                example:
                  value:
                    id: ''
                    type: ''
                    clock: 0
                    globalPermissions:
                      r: False
                      m: False
                      d boolean): ''
                      a: False
                    ui: {}
                    displayName: ''
                    email: ''
                    auth: {}
                    smsNumber: ''
                    tokens: []
                    permissions:
                      '{id}':
                        t: ''
                        r: False
                        m: False
                        d: False
                        a: False
                    subscriptions: {}
                displayName: response
                type: User
      post:
        displayName: Update a User
        description: Only fields marked as [rw] can be directly modified. If other fields are present in the posted request they are ignored.
        responses:
          200:
            description: Success
            body:
              application/json:
                example:
                  value:
                    id: ''
                    type: ''
                    clock: 0
                    globalPermissions:
                      r: False
                      m: False
                      d boolean): ''
                      a: False
                    ui: {}
                    displayName: ''
                    email: ''
                    auth: {}
                    smsNumber: ''
                    tokens: []
                    permissions:
                      '{id}':
                        t: ''
                        r: False
                        m: False
                        d: False
                        a: False
                    subscriptions: {}
                displayName: response
                type: User
  /network:
    get:
      displayName: Get All Viewable Networks
      description: Get all networks for which you have at least read access.
      responses:
        200:
          description: Success
          body:
            application/json:
              example:
                value:
                - id: ''
                  type: ''
                  clock: 0
                  ui: {}
                  rulesSource: ''
                  description: ''
                  permissions:
                    '{id}':
                      t: ''
                      r: False
                      m: False
                      d: False
                      a: False
                  onlineMemberCount: 0
                  capabilitiesByName: {}
                  tagsByName: {}
                  circuitTestEvery: 0
                  config:
                    id: ''
                    nwid: ''
                    name: ''
                    objtype: ''
                    private: False
                    creationTime: 0
                    revision: 0
                    lastModified: 0
                    multicastLimit: 0
                    routes: []
                    rules: []
                    tags: []
                    capabilities: []
                    totalMemberCount: 0
                    activeMemberCount: 0
                    authTokens: []
                    authorizedMemberCount: 0
                    v4AssignMode: {}
                    v6AssignMode: {}
              displayName: response
              type: array
              items:
                type: Network
